blockchain.config.name = {{ rsk_blockchain_name }}
database.dir = {{ rskj_data_dir }}/database/{{ rsk_network | lower }}

peer {
    # default is 2
    connection.timeout = 10

    # Private key of the peer
    # nodeId = <NODE_ID>
    # privateKey = <PRIVATE_KEY>

{% if (rsk_regtest_nodes | default([])) %}
    discovery {
        enabled = true
        ip.list = [
{% for regtest_node in rsk_regtest_nodes %}
{% if regtest_node != inventory_hostname %}
            "{{ regtest_node }}:50501",
{% endif %}
{% endfor %}
        ]
    }
{% endif %}
}

rpc {
    providers {
        web {
            cors = "*"
            http {
                enabled = true
                bind_address = 0.0.0.0
                hosts = [
{% for addr in (["127.0.0.1", "::1", "localhost", inventory_hostname] +
    ansible_all_ipv4_addresses +
    ansible_all_ipv6_addresses) | unique %}
                    "{{ addr }}",
{% endfor %}
                ]
                port = 4444
            }
            ws {
                enabled = {{ (rsk_enable_ws | default(false)) | ternary("true", "false") }}
                bind_address = localhost
                port = 4445
            }
        }
    }
}

{% if 'rsk_regtest' in group_names %}
miner {
{% if inventory_hostname in rsk_regtest_miners %}
    server.enabled = true
    client {
        enabled = true
        delayBetweenBlocks = 1 second
    }
{% else %}
    server.enabled = false
    client.enabled = false
{% endif %}

    coinbase.secret = "{{ inventory_hostname }}"
}
{% endif %}
